.content {
    background-color: #FFF2E0;
}
.header__img {
    width: 80px;
    margin-left: 40%;
    margin-top: 20px;
}
.user-info {
    margin-top: 80px;
}
.user-info__img {
    width: 40px;
    align-items: center;
}
.user-info__userName {
    font-weight: 600;
}