body {
  margin: 0;
}

a {
  text-decoration: none;
}

.loginPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw !important;
}

.leftSide {
  align-items: center;
  width: 50%;
  background-color: #fff2f2;
  box-sizing: border-box;
  padding: 100px 120px;
}

/* logo pizza hust */
.logo {
  width: 78px;
  height: 47px;
}

/* title đăng nhập */
.title {
  width: 100%;
  height: 31px;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.content {
  padding: 20px 20px;
  margin-top: 10px;
}

.form {
  box-sizing: border-box;
  padding: 25px 0;
  position: relative;
}

/* title ô input */
.form_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  position: absolute;
  top: 0;
}

/* ô input người dùng */
.input_content {
  width: 100%;
  height: 42px;
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff2f2;
}

.error {
  color: red;
  box-sizing: border-box;
}

/* quên mật khẩu */
.forgetPass {
  width: 100%;
  height: 30px;
  text-align: center;
  align-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #ff8000;
  box-sizing: border-box;
  margin: 0 auto;
}

.forgetPass a {
  color: #ff8000;
}

.login_btn {
  text-align: center;
  padding: 10px;
}

/* nút đăng nhập */
.login_btn_input {
  width: 163.011px;
  height: 34.83px;
  background: #ff8000;
  border-radius: 5px;
  padding: 0;
  border-width: 0;
  border-style: none;
  color: white;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}

/* chưa có tk đăng ký */
.login_route {
  width: 100%;
  height: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
  margin: 0;
  padding: 30px 20px;
}

.login_route a {
  color: #ff8000;
}

.rightSide {
  width: 50%;
  text-align: center;
  background: linear-gradient(
    146.9deg,
    #ff8001 0%,
    rgba(203, 21, 21, 0.81) 100%
  );
}

.wrap {
  margin: 80px 100px;
  height: 600px;
  background: linear-gradient(
    147.99deg,
    rgba(255, 174, 62, 0.75) 0%,
    rgba(203, 21, 21, 0.57) 100%
  );
  border-radius: 30px;
}

.img {
  margin: 150px auto;
}
