.container-slider {
  max-width: 100%;
  margin: 20px auto 0;
  position: relative;
  overflow: hidden;
  padding-top: 25%;
  box-shadow: 4px 4px 4px rgb(255 128 1 / 25%),
    -2px -2px 4px rgb(208 208 208 / 15%);
  border-radius: 10px;
}
.slide {
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0;
  top: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 10px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 10px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
}
.dot.active {
  background: #ff8000;
  border: 1px solid #ff8000;
}
