.Mui-focus {
  color: #ccc;
  background-color: #ddd;
}

.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #ccc !important;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border: none;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
