
body {
    margin: 0;
}

a {
    text-decoration: none;
} 

.loginPage {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 650px;
    height: 100vh;
    /* overflow: hidden; */
}

.leftSide {
    align-items: center;
    width: 50%;
    background-color: #FFF2F2;
    box-sizing: border-box;
    height: 100%;
    padding: 50px 120px 0 120px;
}


.regist_form {
    /**/
}

/* logo pizza hust */
.logo {
    width: 78px;
    height: 47px;
}

/* title đăng nhập */
.title {
    width: 100%;
    height: 31px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}


.content {
    padding: 20px 20px;
    /* margin-top: 10px; */
    height: 100%;
}


/* từng cụm input */
.form {
    box-sizing: border-box;
    padding: 25px 0 20px 0;
    position: relative;
}


/* title ô input */
.form_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    position: absolute;
    top: 0;
}


/* ô input người dùng */
.input_content {
    width: 100%;
    height: 42px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 4px;
     background-color: #FFF2F2; 
     padding-left: 10px;
}
    
.input_content:focus{
    outline: none ;
    border: 2px solid #FF8001;
    /* opacity: 0.7;  */
} 


.error {
    color: red;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}




.regist_btn {
    text-align: center;
    /* padding: 10px; */
}

/* nút đăng nhập */
.regist_btn_input {
    width: 163.01px;
    height: 34.83px;
    background: #FF8000;
    border-radius: 5px; 
    padding: 0;
    border-width: 0;
    border-style: none;
    color: white;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}

/* chưa có tk đăng ký */
.regist_route {
    width: 100%;
    height: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
    margin: 0;
    padding:30px 20px 0 20px;
}

.regist_route a {
    color: #FF8000; 
    width: 100%;
}

.rightSide {
    height: 100%;
    width: 50%;
    text-align: center;
    background: linear-gradient(146.9deg, 
    #FF8001 0%, rgba(203, 21, 21, 0.81) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrap {
    box-sizing: border-box;
    height: 80%;
    width: 80%;
    background: linear-gradient(147.99deg, rgba(255, 174, 62, 0.75) 0%, rgba(203, 21, 21, 0.57) 100%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
   
}